build/
toolchain/
qemu-spitz/
node_modules/

.cache/
**/.cache/
.vscode/
.claude/

*.core
*.ipk
*.o

tools/emulator/*-emulator-sd.img
tools/emulator/.emulator-sd.img
tools/emulator/.emulator-sd-root/
zImage-qemu-testing
