[Desktop Entry]
Name=Go to TTY
Comment=Exit the graphical session to a text console
Exec=/usr/sbin/gototty
Icon=gototty.png
Terminal=false
Categories=Action;
