[Desktop Entry]
Type=Application
Name=Remote
Comment=Learned infrared remote control
Exec=/usr/local/bin/piko-remote
Icon=piko-remote.png
Terminal=false
Categories=Utility;
